# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# Node.js
node_modules/
npm-debug.log*

# Next
.next/

# TypeScript
*.tsbuildinfo

# Visual Studio Code
.vscode/
.history/

# macOS 
.DS_Store
.Spotlight/
.Trashes/

# env file
.env