@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #4F5453;
  --background-start-rgb:#718fc0; /* Light blue */
  --background-end-rgb: #f2f1ef; 
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  overflow: hidden;

  background-color: #debba9;
  color: rgba(var(--foreground-rgb), 1);
}



.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.board {
  background-color: #b6b2ab;
  /* bg-[#A9A59D] */
  }



  .sidenavbtn-selected {
    border-radius: 20px 0 0 20px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); */
    /* background: radial-gradient(at center, #fff, #A9A59D); */

  }
  .sidenavbtn {
    margin: auto;
  }
  .sidenavbtn:hover {
    border-radius: 20px 0 0 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    /* background: radial-gradient(at center, #fff, #A9A59D); */
  }

  .delBtn:hover {
    scale:1.3;
  }