@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #3d3d70; /* Light blue */
  --background-end-rgb: #b3b1e1; 
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  overflow: hidden;
  padding: 1rem;
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--background-end-rgb), 1)
    );
    color: rgba(var(--foreground-rgb), 1);
}
  

