@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: #4F5453;
  --background-start-rgb:#718fc0;
  --background-end-rgb: #f2f1ef;  */
  --bg-navbar: #AD8B73;
  --bg-boardNav:#0000002c;
  --text-navbar: #fff;  
  --bg-board: #FFFBE9;
  --bg-sideNav: #603601;
  --text-sideNav: #fff; 
  --bg-list: #AD8B73;
  --bg-card: #fff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  overflow: hidden;
  background-color: var(--bg-navbar);
  color: rgba(var(--foreground-rgb), 1);
}

.FormModal>input{
  background-color: var(--bg-board);
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.board {
  background-color: var(--bg-board);
  width: 89vw;
}


.sidenav {
  border-radius: 20px 0 0 0;
  width: max(11vw);
}
.sidenavbtn-selected {
  border-radius: 20px 0 0 20px;
  color: black;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); */
    /* background: radial-gradient(at center, #fff, #A9A59D); */
  }

  .sidenavbtn {
    margin: auto;
  }
  
  .sidenavbtn:hover {
    border-radius: 20px 0 0 20px;
    color: black;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    /* background: radial-gradient(at center, #fff, #A9A59D); */
  }

  .delBtn:hover {
    scale:1.3;
  }

  @keyframes fade-in {
    from {
      opacity: 0; 
      transform: translateY(20px); 
    }
    to {
      opacity: 1; 
      transform: translateY(0);
    }
  }
  .boardNav {
    font-family:monospace;
    font-size: 18px;
    padding: 1.15ch 20px;
    width: 89vw;
  }

  .card {
    animation: fade-in 1s ease; 
  }
  .list {
    margin-top: 8ch;
    animation: fade-in 1s ease; 
  }
  
@media (max-width: 1200px) {
  .sidenav {
    width: 17vw; /* Set the width to 20vw for smaller screens */
  }
  .boardNav {
    width: 83vw;
  }
}
@media (max-width: 1000px) {
  .sidenav {
    width: 20vw; /* Set the width to 20vw for smaller screens */
  }
  .boardNav {
   width: 80vw;
  }
}
  

.delboard {

}

.boardTitleCard{

}

.board{

}

.boardNav{

}

.dropDown{

}

.sideNav{

}

.sideNavBoardName{

}

.listComp{

}

.card{

}

.listTitle{

}

.createBoardBtn{

}

.createListBtn{

}

.createCardBtn{

}

.NavBar{

}




